canvas { touch-action: none; }

@font-face {
  font-family: 'DMMono-Light';
  font-style: normal;
  font-weight: 300;
  src:
  url('assets/fonts/DMMono-Light.woff2') format('woff2'),
  url('assets/fonts/DMMono-Light.woff') format('woff'),
  url('assets/fonts/DMMono-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'BaiJamjuree-Light';
  font-style: normal;
  font-weight: 300;
  src:
    url('assets/fonts/BaiJamjuree-Light.woff2') format('woff2'),
    url('assets/fonts/BaiJamjuree-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'BaiJamjuree';
  font-style: normal;
  font-weight: 400;
  src:
    url('assets/fonts/BaiJamjuree-Regular.woff2') format('woff2'),
    url('assets/fonts/BaiJamjuree-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Atype';
  font-style: normal;
  font-weight: 400;
  src:
    url('assets/fonts/ATYPE\ 2B.otf') format('opentype'),
    url('assets/fonts/ATYPE 2B.woff') format('woff');
  font-display: swap;
}




html, body {
  height: 100%;
  width: 100;
  margin: 0;
  padding: 0;
  background: #fff8e8;

}


/*Overlay Loader*/
#overlay {
  margin: 0;
  position: absolute;
  inset: 0;
  background-color: #951e20;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--fg);
  transition: transform 1s ease;

  overflow: hidden;
}
#overlay   h1{
    margin: 0;
    font-size: 1rem;
    font-family: 'DMMono-light', monospace;
}

/* Centered content */
.overlay-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:70%;
  height: 100%;
}

/*Container 1: Image and captions*/
.container-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 25%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.overlay-inner .container-1 p {
    color:  #fff8e8;
    margin: 0;
    padding: 0;
    font-family: 'DMMono-Regular', monospace;
    font-size: .6rem;
}
.overlay-inner .container-1 .upper-caption{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.overlay-inner .container-1 .upper-caption  p {
    padding-bottom: 5px;
    text-align: left;
}
.overlay-inner .container-1 .upper-caption .block{
  flex: 1;
}

.overlay-inner .container-1 img{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.overlay-inner .container-1 .lower-caption{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.overlay-inner .container-1 .lower-caption  p {
    padding-top: 5px;
    text-align: right;
}
.overlay-inner .container-1 .lower-caption .block{
  flex: 1;
}

/*Container 2: Guest Name*/
.container-2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #fff8e8;
}
.overlay-inner .container-2 .guest-name{
  width: 100%;
  margin: 0;
  padding: 0;
}
.overlay-inner .container-2 h1{
  margin: 0;
  padding: 0;
}
.overlay-inner .container-2 hr{
  border: 0.1px solid #fff8e8;
  width: 100%;
}

/*Container 3: Welcome Text and Open Button*/
.container-3{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
  height: 25%;
  margin: 0;
  padding: 0;
}
.container-3 .wellcome-text{
  width: 100%;
  margin: 0;
  padding: 0 0 1rem 0;
}
.container-3 .wellcome-text  h1{
    padding-top: .5rem;
    color: #fff8e8;
}

/*helper classes for loader open button*/
#open-btn{
  background-color: #fff8e8;
  cursor: pointer; margin-bottom: 10px;
  height: 7vh;
  display: flex;
  justify-content: center; /* Centers h1 horizontally */
  align-items: center;
}
#open-btn .loader-base-color{
  color: #d39087;
}
#open-btn .loader-update-color{
  color: #951e20;
}
/* Progress bar container */
#overlay-progress {
  width: 100%;        
  height: 3px;  
  margin: 0;
  overflow: hidden;
}

/* The actual progress fill */
#overlay-progress-bar {
  width: 0%;
  height: 100%;
  background: #fff8e8;      /* neon green */
  transform-origin: left center;
  transition: width 0.15s ease-out;
}

#overlay.open {
transform: translate(0, -100%);
}

#overlay.close {
transform: translate(0, 0);
}





/*LANDING PAGE*/
.landing{
  position: relative;
  width: 100vw;
  height: 300vh;
  z-index: 999;
}









/*THREE JS CANVAS STYLES*/
/* App Canvas container */
.main-page{
    margin: 0;
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--fg);
    transition: transform 1s 
ease;
}

.wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:70%;
  height: 100%;
}

.test-upper-1{
  position: relative;
  width: 100%;
  height: 50%;
  z-index: 3;
  
  display: flex;
  justify-content:center;
  align-items:center;  
}
.test-upper-1 img{
  height: 40%;
  width: auto;
}
.test-upper-2{
  position: relative;
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: flex-start;
  align-items:center;  
  flex-direction: column;
}
.test-upper-2 h1{
  text-align: center;
  font-family: 'DMMono-light';
  font-size: 1rem;
  padding: 0;
  margin: 0;
  width: 100%; 
  color: #dbd4bf;
  font-size: 10pt;
}

#app { 
  position: fixed; 
  inset: 0; 
  z-index: 1; 
  width: 100%;
  height:  100Vh;
  }

/* Canvas behavior */
canvas {
  touch-action: none;        /* keeps mobile gestures from hijacking pointers */
}

.test-1{
  position: relative;
  width: 100%;
  height: 50%;
  cursor: pointer;
  z-index: 3;
}
.test-2{
  position: relative;
  width: 100%;
  height: 50%;
  cursor: pointer;
  z-index: 3;

  display: flex;
  justify-content: flex-end;
  align-items:center;  
  flex-direction: column;
}
.test-2 .line{
  background-color: #8d8b4f;
  width: 100%;
  height: 3px;
  position: absolute;
  display: flex;
}

#close-btn {
  position: relative; 
  background-color: #8d8b4f;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: -82vh;
  width: 70%;
  height: 7vh;
  cursor: pointer;
  z-index: 2;
  
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center; 
  align-items: center;  
  flex-direction: column;
  
}

#close-btn h1 {
  text-align: center;
  font-family: 'DMMono-light', monospace;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  width: 100%; /* Retained */
  color: #fff8e8;
}


/*ANIMATION*/

/* Slide in captions from top */
.container-1 img,
.container-2 .guest-name hr{
  opacity: 0;
  transform: translateY(-20px);
  animation: slideDownFade 1s ease forwards;
}

.upper-caption .block p,
.lower-caption .block p,
.guest-name h1,
.wellcome-text h1 {
  opacity: 0;
  transform: translateY(-20px);
  animation: slideDownFade 1s ease forwards;
  animation-delay: 0.2s;
}
/*
.container-3 {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: .25s;
}

.container-3 .wellcome-text,
#loader-status {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: .5s;
}
*/
/* Keyframes */
@keyframes overlay-progress-bar {
  from { width: 0; }
  to   { width: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slideDownFade {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}



/*
#card-caption {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.7);
  color: #0f0;
  font-family: monospace;
  font-size: 14px;
  letter-spacing: 0.08em;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}

#card-caption.visible {
  opacity: 1;
}

/*GETTING THE MAIN PAGE*//*
.get-back{
  position:relative;
  width: 100px;
  height: 20px;
  background: rgb(128, 128, 128);
  transform:translate(-50%,-50%);
  left: 50%;
  cursor: pointer;
  z-index: 99;
  text-align: center;
  font-family: 'DMMono-Regular';

}
*/

.front-label {
  position: fixed;
  left: 50%;
  bottom: 25vh;
  transform: translateX(-50%);
  font-family: 'DMMono-Regular', monospace;
  font-size: 12pt;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #dbd4bf;
  pointer-events: none;
}
/* LANDING */
/* Styles for the anchor tag wrapper */
.div-link {
    text-decoration: none; /* Removes default link underline */
    color: inherit; /* Inherits color from parent or default text color */
}



.landing{
  display: flex;
  flex-direction: column;
  height: 300vh;
  font-family: 'BaiJamjuree';
  background-color: #fff8e8;
}
.landing .half{
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  align-items: center;
  height: 40vh;
  text-align: center
;
}

.landing .half img{
  width: 40%;
}

.landing .half .invitation{
  margin-top: 5vh;
}

.full{
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


.full .running-text-1{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h2{
  font-family:  'Atype';
  font-size: 24pt;
  margin: 0;
  color: #8d8b4f;
  text-align: center;
  
}



.gama{
  height: 40%;
  background-color: yellow;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10vw;
}
.pic{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pic-gama{
  background-image: url('images/GM26-GAMA.webp');
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 200px;
}
.caption-gama{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: vw;
  padding-right: 15vw;
  width: 50%;
}
.gama h1{
  font-size: 20pt;
  text-align: left;
  margin: 0;
}
