canvas { touch-action: none; }



/* DM Mono */
@font-face {
  font-family: 'DMMono-Light';
  font-style: normal;
  font-weight: 100;
  src: url('assets/fonts/DMMono-Light.woff2') format('woff2');
  src: url('assets/fonts/DMMono-Light.woff') format('woff');
  url('assets/fonts/DMMono-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DMMono-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/DMMono-Regular.woff2') format('woff2');
  src: url('assets/fonts/DMMono-Regular.woff') format('woff');
  font-display: swap;
}

/* Bai Jamjuree */
@font-face {
  font-family: 'BaiJamjuree-Light';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/BaiJamjuree-Light.woff2') format('woff2');
  src: url('assets/fonts/BaiJamjuree-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'BaiJamjuree';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/BaiJamjuree-Regular.woff2') format('woff2');
  src: url('assets/fonts/BaiJamjuree-Regular.woff') format('woff');
  font-display: swap;
}

/* Atypo */
@font-face {
  font-family: 'Atypo';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/ATYPE-2B.woff2') format('woff2'); /* or 'ATYPE 2B.woff2' with quotes */
  src: url('assets/fonts/ATYPE-2B.woff') format('woff'); 
  font-display: swap;
}




html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff8e8;
  overflow: hidden;

}


/*Overlay Loader*/
#overlay {
  margin: 0;
  position: absolute;
  inset: 0;
  background-color: #951e20;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--fg);
  transition: transform 1s ease;

  h1{
    margin: 0;
    font-size: 1rem;
    font-family: 'DMMono-Light', monospace;
  }
}
/* Centered content */
.overlay-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:70%;
  height: 100%;
}

/*Container 1: Image and captions*/
.overlay-inner .container-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 20%;
  margin: 0;
  padding: 0;
  text-align: center;
  

  p {
    color:  #fff8e8;
    margin: 0;
    padding: 0;
    font-family: 'DMMono-Regular', monospace;
    font-size: .6rem;
  }
}

.overlay-inner .container-1 .upper-caption{
  display: flex;
  flex-direction: row;
  width: 100%;
  p {
    padding-bottom: 5px;
    text-align: left;
  }
}
.overlay-inner .container-1 .upper-caption .block{
  flex: 1;
}

.overlay-inner .container-1 img{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.overlay-inner .container-1 .lower-caption{
  display: flex;
  flex-direction: row;
  width: 100%;
  p {
    padding-top: 5px;
    text-align: right;
  }
}
.overlay-inner .container-1 .lower-caption .block{
  flex: 1;
}

/*Container 2: Guest Name*/
.overlay-inner .container-2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #fff8e8;
}
.overlay-inner .container-2 .guest-name{
  width: 100%;
  margin: 0;
  padding: 0;
}
.overlay-inner .container-2 h1{
  margin: 0;
  padding: 0;
}
.overlay-inner .container-2 hr{
  border: 0.1px solid #fff8e8;
  width: 100%;
}

/*Container 3: Welcome Text and Open Button*/
.overlay-inner .container-3{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
  height: 20%;
  margin: 0;
  padding: 0;
}
.overlay-inner .container-3 .wellcome-text{
  width: 100%;
  margin: 0;
  padding: 0 0 1rem 0;
  h1{
    padding-top: .5rem;
    color: #fff8e8;
  }
}
/*helper classes for loader open button*/
#open-btn{
  background-color:rgb(209, 88, 90);
  padding: 1rem 0;
  height: 20px;
}
#open-btn{
  background-color: #fff8e8;
  padding: 1rem 0;
  height: 20px;
  cursor: pointer;
}
#open-btn .loader-base-color{
  color: #d39087;
}
#open-btn .loader-update-color{
  color: #951e20;
}
/* Progress bar container */
#overlay-progress {
  width: 100%;        /* full width */
  height: 3px;           /* thickness of the bar */
  padding-top: 1rem;
  margin: 0;
  overflow: hidden;
}

/* The actual progress fill */
#overlay-progress-bar {
  width: 0%;
  height: 100%;
  background: #fff8e8;      /* neon green */
  transform-origin: left center;
  transition: width 0.15s ease-out;
}

#overlay.open {
transform: translate(0, -100%);
}

#overlay.close {
transform: translate(0, 0);
}




/*ANIMATION*/

/* Slide in captions from top */
.container-1 img,
.container-2 .guest-name hr{
  opacity: 0;
  transform: translateY(-20px);
  animation: slideDownFade 1s ease forwards;
}

.upper-caption .block p,
.lower-caption .block p,
.guest-name h1,
.wellcome-text h1 {
  opacity: 0;
  transform: translateY(-20px);
  animation: slideDownFade 1s ease forwards;
  animation-delay: 0.5s;
}

.container-3 {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: .25s;
}

.container-3 .wellcome-text,
#loader-status {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: .5s;
}

/* Keyframes */
@keyframes overlay-progress-bar {
  from { width: 0; }
  to   { width: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slideDownFade {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}


/*THREE JS CANVAS STYLES*/
/* App Canvas container */

.main-page{
  background-color: #fff8e8;
}

#app { 
  position: fixed; 
  inset: 0; 
  z-index: 1; 
  width: 100%;
  height:  50Vh;
  transform: translateY(-50%);
  top: 50%; ;
  }

/* Canvas behavior */
canvas {
  touch-action: none;        /* keeps mobile gestures from hijacking pointers */
}




