
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap');

body, html {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font: Kanit;
}

* {
  box-sizing: border-box;
}


.container{
  position: absolute;
  overflow: hidden;
  width: 100vw;

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(SVG/welcomee.svg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1000;
  overflow: hidden;
}

.welcome-content {
  text-align: center;
}

.undangan-nama{
    position: absolute;
    text-align: center;
    width: 72vw;
    left: 15vw;
    bottom: 45vh;
    color: #5a5585;
}

.undangan-nama h1{
    font-family: Abril Fatface;
    color: #cd1e49;
    margin: 0;
    font-size: 1.2rem;
    max-width: 80vw;
    border: none;
    border-radius: 14px;
    background-color: #fae9fca8;
    padding: 5px;
}

  
button {
  position: absolute;
  bottom: 7vh;
  left: 40vw;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #5a5585;
  color: white;
}


.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.translate{
  font-family:  "Playwrite AU NSW", cursive;
  font-size: .8em;
  font-weight: 500;
  color: #000000;
  line-height: 1.5em;
  text-align: left;
}

.narate h3{
  font-family: kanit;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1em;
  color: #8b1130;
  padding: 0;
  margin: 0;
}

.narate .translate{
  margin:0;
  padding-top: 10px;
}


.sec-1 {
  width: 100%;
  height: 180vh;
  display: flex; 
  background: rgb(250,233,252);
  background: linear-gradient(180deg, #baa3c1 0%, rgba(198,71,119,1) 100%);
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.sec-1 .container{
height: 200vh;
}

.sec-1 .container #text-1{
  position: absolute;
  width: 24vw;
  top: 100vh;
  right: 5vw;
}

.sec-1 .container #text-2{
  position: absolute;
  width: 36vw;
  top: 144vh;
  right: 54vw;
}




.container #blob-1{
  position: absolute;
  width: 74vw;
  right: -10vh;
  top: 2vh;
}

.container #blob-2{
  position: absolute;
  left: -100vw;
  scale: .2;
  top: -15vh;
  rotate: 90deg;
}

.container #strng-1{
  position: absolute;
  width: 18vw;
  top: -15vh;
  right: 15vw;
}

.container #strng-2{
  position: absolute;
  width: 18vw;
  top: 100vh;
  left: -10vw;
  
  rotate: 150deg;
}

.container #strng-3{
  position: absolute;
  width: 30vw;
  top: 30vh;
  left: -5vw;
}

.container #strng-4{
  position: absolute;
  width:30vw;
  top: 65vh;
  right: -15vw;
  rotate: 90deg;
}

.container #clouds-1{
  position: absolute;
  width:120vw;
  top: 140vh;
  left: -15vw;
}

#phase-2{
  width: 100vw;
  position: absolute;
  top: 160vh;
}

#clouds-2
{
  width:150vw;
  position: absolute;
  top: 156vh;
  left: -30vw;
}

#clouds-4
{
  width:50vw;
  position: absolute;
  top: 165vh;
  left: 45vw;
}

.container #strng-heart{
  position: absolute;
  width: 110vw;
  top: 42vh;
  right: -5vw;
  z-index: 99;
}

.sec-1 h1{
  font-family: Abril Fatface;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  width: 50vw;
  padding-top: 10vh;
  color: #302447;;
  line-height: 1em;
  margin: 0;
  z-index: 0;
}



.sec-1 .sub-title{
  width: 45vw;
  position: absolute;
  top: 75vh;
  left: 6vw;
  display: flex;
  flex-direction: column;
} 

.sec-1 .sub-title h2{
  font-family: Abril Fatface;
  font-size: 2em;
  font-weight: 50;
  line-height: 1em;
  color: #fcc0e3;
  position: relative;
  margin: 0;
} 

.sec-1 .sub-title p{
  text-align: left;
}

.sec-1 #long-strng{
  position: absolute;
  width: 58vw;
  top: 62vh;
  z-index: 12;
  left: 26vw;
}


.sec-2 {
  width: 100vw;
  height: 134vh;
  display: flex;
  justify-content: center;
  background: rgb(107,163,173);
  background: linear-gradient(180deg, rgba(107,163,173,1) 0%, rgba(189,212,204,1) 100%);
  line-height: 1em;
}

.sec-2 .container{
  height: 135vh;
}


.sec-2 .container #text-1{
  position: absolute;
  width: 35vw;
  top: 17vh;
  right: 3vw;
}

.sec-2 .container #text-2{
  position: absolute;
  width: 32vw;
  top: 63vh;
  right: 57vw;
}

.sec-2 .container #text-3{
  position: absolute;
  width: 10vw;
  top: 103vh;
  right: 28vw;
}

.sec-2 .container #clouds-5{
  width: 120vw;
  position: absolute;
  left: -10vw;
  z-index: 11;
}

.sec-2 .container #clouds-6{
  width: 60vw;
  position: absolute;
  top:65vw;
  right: -15vw;
}

.sec-2 .container #clouds-7{
  width: 60vw;
  position: absolute;
  top: 7vw;
  left: -30vw;
}

.sec-2 .container #clouds-8{
  width: 100vw;
  position: absolute;
  top: 70vh;
}

.sec-2 .container #clouds-9{
  width: 100vw;
  position: absolute;
  top: 180vw;
}

.sec-2 .container #clouds-10{
  width: 100vw;
  position: absolute;
  top: 105vw;
}

.sec-2 .container #clouds-11{
  width: 100vw;
  position: absolute;
}


.sec-2 .container #clouds-12{
  width: 100vw;
  position: absolute;
}

.sec-2 .container #clouds-13{
  width: 100vw;
  top: 90vh;
  position: absolute;
}

.sec-2 .container #bush-1{
  width: 110vw;
  top: 121vh;
  position: absolute;
  left: -10vw;
}

.sec-2 .container #bush-2{
  width: 120vw;
  top: 118vh;
  position: absolute;
  z-index: 11;
}

.sec-2 .container #bush-3{
  width: 120vw;
  top: 120vh;
  position: absolute;
  z-index: 11;
}

.sec-3 {
  width: 100vw;
  height: 180vh;
  display: flex;
  justify-content: center;
  background-image: url('SVG/phase-3.svg');
  background-size: cover;
}

.sec-3 .container{
  height: 185vh;
}

.sec-3 .container #text-1{
  position: absolute;
  width: 32vw;
  top: 26vh;
  right: 9vw;
}



.sec-3 .container #thread-2{
  position: absolute;
  width: 100vw;
  left: 20vw;
  top: 5vh;
  z-index: 5;
}

.sec-3  #boy-1{
  position: absolute;
  width: 20vw;
  top: 295vh;
  z-index: 9999 ;
  left: 30vw;
}

.sec-3  .container #boy-2{
  position: absolute;
  width: 54vw;
  z-index: 12;
  left: 4vw;
  top: 18vh;
}

.sec-3  .container #gurl-1{
  position: absolute;
  width: 78vw;
  z-index: 12;
  left: 20vw;
  top: 53vh;
}

.sec-3  .container #gurl-1{
  position: absolute;
  width:80vw;
  z-index: 12;
  left: 20vw;
  top: 50vh;
}

.sec-3  .container #blob-4{
  position: absolute;
  width:80vw;
  left: 10vw;
  top: 80vh;
}

.sec-3  .container #blob-5{
  position: absolute;
  width: 28vw;
  left: 18vw;
  top: 0vh;
}

.sec-3  .container #blob-6{
  position: absolute;
  width:160vw;
  left: 10vw;
  top: 120vh;
}

.sec-3  .container #blobs-x{
  position: absolute;
  width:125vw;
  left: -5vw;
  top: 166vh;
  z-index: 14;
}


.sec-4 {
  width: 100vw;
  height: 170vh;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-color: #77b2bd;
}

.sec-4 .container{
  height: 190vh;
}
.sec-4 .container #text-1{
  position: absolute;
  width: 82vw;
  top: 12vh;
  right: 4vw;
  z-index: 14;
}

.sec-4 .container #text-2{
  position: absolute;
  width: 52vw;
  top: 108vh;
  right: 6vw;
  z-index: 22;
}

.sec-4  .container #grd-2{
  position: absolute;
  width: 100vw;
  top: 17vh;
  z-index: 14;
}

.sec-4  .container #grd-1{
  position: absolute;
  width:100vw;
  top: 75vh;
  z-index: 14;
}

.sec-4  .container #board{
  position: absolute;
  width: 90vw;
  top: 42vh;
  left: 10vw;
  z-index: 14;
}

.sec-4  .container #boy-3{
  position: absolute;
  width: 35vw;
  top: 50vh;
  left: 54vw;
  z-index: 14;
}

.sec-4  .container #gurl-2{
  position: absolute;
  width: 30vw;
  top: 50vh;
  left: 18vw;
  z-index: 14;
}

.sec-4  .container #clock{
  position: absolute;
  width: 10vw;
  top: 34vh;
  left: 43vw;
  z-index: 14;
}

.sec-4  .container #clouds-14{
  position: absolute;
  width: 213vw;
  top: 98vh;
  left: -39vw;
  z-index: 14;
}

.sec-4  .container #clouds-15{
  position: absolute;
  width: 168vw;
  top: 109vh;
  left: -26vw;
  z-index: 14;
}

.sec-4  .container #clouds-16{
  position: absolute;
  width: 110vw;
  top: 102vh;
  left: -28vw;
  z-index: 14;
}

.sec-4  .container #school{
  position: absolute;
  width: 140vw;
  top: 116vh;
  left: -20vw;
  z-index: 14;
}

.sec-4  .container #bush-2{
  position: absolute;
  width: 50vw;
  z-index: 20;
  top: 132vh;
  left: -20vw;
  
}

.sec-4  .container #bush-1{
  position: absolute;
  width: 50vw;
  z-index: 20;
  top: 135vh;
  right: -20vw;
  
}

.sec-4  .container #bg{
  position: absolute;
  width:110vw;
  z-index: 20;
  top: 135vh;
  right: -5vw;
  z-index: 5;
  
}

.sec-4  .container #road-1{
  position: absolute;
  width: 87vw;
  top: 148vh;
  z-index: 6;
  left: -38vw;
}

.sec-4  .container #road-2{
  position: absolute;
  width:100vw;
  top: 147vh;
  z-index: 6;
  right: -48vw;
} 

.sec-4  .container #door-left{
  position: absolute;
  width: 9vw;
  top: 135vh;
  z-index: 8;
  left: 50vw;
} 

.sec-4  .container #door-rght{
  position: absolute;
  width: 9vw;
  top: 135vh;
  z-index: 8;
  right: 50vw;
} 

.sec-5 {
  width: 100vw;
  height: 250vh;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-color: #c2d7ce;
}

.sec-5 .container{
  height: 250vh;
}

.sec-5 .container #text-1{
  position: absolute;
  width: 61vw;
  top: 46vh;
  right: 7vw;
  z-index: 22;  
}

.sec-5 .container #text-2{
  position: absolute;
  width: 59vw;
  top: 236vh;
  right: 18vw;
  z-index: 22;
}


.sec-5  .container #blobs-1{
  position: absolute;
  width: 146vw;
  top: 88vh;
  z-index: 4;
  right: -43vw;
} 

.sec-5  .container #gurl-1{
  position: absolute;
  width: 70vw;
  top: 87vh;
  z-index: 8;
  right: 34vw;
} 

.sec-5  .container #path-1{
  position: absolute;
  width: 150vw;
  top: 94vh;
  z-index: 8;
  right: -5vw;
} 

.sec-5  .container #blobs-2{
  position: absolute;
  width: 121vw;
  top: 134vh;
  z-index: 4;
  right: -13vw;
}


.sec-5  .container #boy-1{
  position: absolute;
  width: 70vw;
  top: 126vh;
  z-index: 8;
  right: 4vw;
}


.sec-5  .container #path-2{
  position: absolute;
  width: 177vw;
  top: 153vh;
  z-index: 8;
  right: -26vw;
} 


.sec-6 {
  width: 100vw;
  height: 250vh;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-color: #c2d7ce;
}

.sec-6 .container{
  height: 250vh;
}

.sec-6 .container #text-1{
  position: absolute;
  width: 34vw;
  top: 80vh;
  right: 14vw;
  z-index: 22;

  text-align: center;
}

.sec-6 .container #text-1 .translate{
  text-align: center;
}


.sec-6  .container #blobs-3{
  position: absolute;
  width: 91vw;
  top: 89vh;
  z-index: 4;
  right: 15vw;
} 

.sec-6  .container #gurl-2{
  position: absolute;
  width: 66vw;
  top: 95vh;
  z-index: 7;
  right: 33vw;
} 

.sec-6  .container #path-3{
  position: absolute;
  width: 150vw;
  top: 94vh;
  z-index: 8;
  right: -5vw;
} 

.sec-6  .container #blobs-4{
  position: absolute;
  width: 86vw;
  top: 158vh;
  z-index: 4;
  right: -13vw;
}

.sec-6  .container #boy-2{
  position: absolute;
  width: 61vw;
  top: 141vh;
  z-index: 7;
  right: -5vw;
}

.sec-6  .container #path-4{
  position: absolute;
  width: 177vw;
  top: 153vh;
  z-index: 8;
  right: -26vw;
} 



.sec-7 {
  width: 100vw;
  height: 250vh;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-color: #c2d7ce;
}

.sec-7 .container{
  height: 250vh;
}

.sec-7 .container #text-1{
  position: absolute;
  width: 67vw;
  top: 1vh;
  right: 17vw;
  z-index: 22;
  text-align: center;
}

.sec-7 .container #text-1 .translate{
  text-align: center;
}

.sec-7 .container #text-2{
  position: absolute;
  width: 34vw;
  top: 163vh;
  right: 50vw;
  z-index: 22;
}

.sec-7  .container #blobs-5{
  position: absolute;
  width: 65vw;
  top: 111vh;
  z-index: 6;
  right: 46vw;
} 

.sec-7  .container #gurl-3{
  position: absolute;
  width: 67vw;
  top: 84vh;
  z-index: 5;
  right: 27vw;
} 

.sec-7  .container #path-5{
  position: absolute;
  width: 146vw;
  top: 131vh;
  z-index: 8;
  right: -5vw;
} 

.sec-7  .container #boy-3{
  position: absolute;
  width: 56vw;
  top: 111vh;
  z-index: 7;
  right: 0vw;
}

.sec-7  .container #path-6{
  position: absolute;
  width: 151vw;
  top: 110vh;
  z-index: 6;
  right: -36vw;
} 



.sec-8 {
  width: 100vw;
  height: 300vh;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-color: #c2d7ce;
}

.sec-8 .container{
  height: 300vh;
}

.sec-8 .container #text-1{
  position: absolute;
  width: 67vw;
  top: 19vh;
  right: 16vw;
  z-index: 22;
  text-align: center;
}

.sec-8 .container #text-1 .translate{
  text-align: center;
}

.sec-8 .container #text-2{
  position: absolute;
  width: 41vw;
  top: 82vh;
  right: 49vw;
  z-index: 22;
}

.sec-8 .container #text-3{
  position: absolute;
  width: 41vw;
  top: 263vh;
  right: 32vw;
  z-index: 22;
  text-align: center;
}

.sec-8 .container #text-3 .translate{
  text-align: center;
}

.sec-8  .container #blobs-6{
  position: absolute;
  width: 78vw;
  top: 96vh;
  z-index: 6;
  right: 8vw;
} 

.sec-8  .container #blobs-7{
  position: absolute;
  width: 70vw;
  top: 128vh;
  z-index: 8;
  right: 24vw;
  rotate: 90deg;
}


.sec-8  .container #path-8{
  position: absolute;
  width: 160vw;
  top: 121vh;
  z-index: 8;
  right: -26vw;
} 

.sec-8  .container #journey-4{
  position: absolute;
  width: 95vw;
  top: 100vh;
  z-index: 7;
  right: 0vw;
}


.sec-9 {
  width: 100vw;
  height: 200vh;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-color: #c2d7ce;
}

.sec-9 .container{
  height: 200vh;
}

.sec-9 .container #text-1{
  position: absolute;
  width: 67vw;
  top: 66vh;
  right: 17vw;
  z-index: 22;
  text-align: center;
}

.sec-9 .container #text-1 .translate{
  text-align: center;
}


.sec-9  .container #blobs-7{
  position: absolute;
  width: 70vw;
  top: 107vh;
  z-index: 8;
  right: -9vw;
  rotate: 90deg;
} 

.sec-9  .container #blobs-8{
  position: absolute;
  width: 67vw;
  top: 84vh;
  z-index: 4;
  right: 53vw;
} 

.sec-9  .container #path-9{
  position: absolute;
  width: 171vw;
  top: 102vh;
  z-index: 8;
  right: -23vw;
} 

.sec-9  .container #journey-5{
  position: absolute;
  width: 87vw;
  top: 81vh;
  z-index: 7;
  right: 8vw;
}

.sec-10 {
  width: 100vw;
  height: 300vh;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-color: #c2d7ce;
}

.sec-10 .container{
  height: 350vh;
}

.sec-10 #text-1{ 
  padding-top: 5vw;
  width: 100vw;
  justify-content: center;
  align-items: center ;
  display: flex;
  flex-direction: column;
}

.sec-10 #text-1 p{ 
  font-family: kanit;
  font-size: .8em;
  font-weight: 300;
  line-height: 2em;
  color: #000000;
  width: 80vw;
  text-align: center;
}

.sec-10 #text-1 h1{ 
  font-family: Abril Fatface;
  font-size: 2em;
  font-weight: 50;
  line-height: 1em;
  color: #c64777;
  margin: 0;
  padding-top:5vw;
  text-align: center;
  width: 60vw;
}

.sec-10 #text-1 h2{ 
  font-family: "Playwrite AU NSW", cursive;
  font-size: .9em;
  font-weight: 100;
  line-height: 1em;
  color: #c64777;
  margin: 0;
  padding-top: 5vw;
  padding-bottom: 5vw;
}


.sec-10 .container #text-2{
  position: absolute;
  width: 67vw;
  bottom: 98vh;
  right: 28vw;
  z-index: 22;
  text-align: center;
  font-family: Abril Fatface;
  font-size: 1.5em;
  line-height: 1em;
  color: #c64777;
}
.sec-10 .container #text-3{
  position: absolute;
  width: 103vw;
  bottom: 94vh;
  right: 24vw;
  z-index: 22;
  text-align: center;
  font-family: Abril Fatface;
  font-size: 1.5em;
  line-height: 1em;
  color: #c64777;
}
.sec-10 .container #text-4{
  position: absolute;
  width: 48vw;
  bottom: 88vh;
  right: 48vw;
  z-index: 22;
  text-align: left;
  font-family: "Playwrite AU NSW", cursive;
  font-weight: 50;
  line-height: 2.5em;
  color: #c64777;
  font-size: .6em;
}


.sec-10  .container #path-10{
  position: absolute;
  width: 55vw;
  top: 61vh;
  z-index: 9;
  right: 51vw;
} 

.sec-10  .container #path-11{
  position: absolute;
  width: 116vw;
  top: 90vh;
  z-index: 8;
  right: -8vw;
} 

.sec-10  .container #journey-6{
  position: absolute;
  width: 165vw;
  top: 180vh;
  z-index: 9;
  right: -29vw;
} 


.sec-10  .container #path-12{
  position: absolute;
  width: 153vw;
  top: 229vh;
  z-index: 8;
  right: -31vw;
} 


.sec-11 {
  width: 100vw;
  height: 200vh;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-color: #dfcde5;
}

.sec-11 .container{
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.sec-11  .container #path-11{
  position: absolute;
  width: 67vw;
  top: 9vh;
  z-index: 8;
  right: 39vw;
} 

.wedding {
  margin-top: 30vh;
  z-index: 22;
  text-align: center;
} 


.wedding h2{
  font-family: "Playwrite AU NSW", cursive;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1em;
  color: #c64777;
  margin: 0;
  margin: 50px 0;
  width: 80vw;
  line-height: 1.5em;
} 

.wedding p{
  font-family: kanit;
  font-size: .8em;
  font-weight: 300;
  line-height: 2em;
  color: #000000;
  width: 80vw;
  text-align: center;
} 

.wedding h1{
  z-index: 22;
  font-family: Abril Fatface;
  font-size: 4em;
  font-weight: 50;
  line-height: 1em;
  width: 80vw;
  color: #c64777;
  margin: 50px 0;
  
} 

a:active
{
  color: #df9bb5;
  font-style: normal;
  text-decoration: none;
} 

a
{
  color: #6d2742;
  font-style: normal;
  text-decoration: none;
} 
a:visited
{
  color: #c64777;
  font-style: normal;
  
} 
.wedding img{
 width: 60vw;
 height: 60vw;
 margin: 0;
 padding: 0;
 padding-bottom: 50px;
} 

.end{
  position: absolute;
  bottom: 5vw;  
  font-size: .9rem;
} 
